{%
	set menu = [
		{
			text: 'Home',
			href: '/'
		},
		{
			text: 'Gallery',
			href: '/Gallery',
		},
		{
			text: 'Upload',
			href: '/upload',
		}
	]
 %}

{% for item in menu %}
	<li><a href="{{ item.href }}">{{ item.text }} <span class="sr-only">(current)</span></a></li>
{% endfor %}