{% extends '_layout.twig' %}

{% block content %}
	<h1>Gallery</h1>

	<div class="row">
		{% for image in images %}
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="/uploads/{{ image.FileName }}" alt="{{ image.Title }}">

				<div class="caption">
					<h3>{{ image.Title }}</h3>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}